/*
 * Add background image.
 */
.header {
    display: flex;
    background-color: var(--light-color);
    border-bottom: 4px solid var(--dark-color);
    position: relative;
    margin-bottom: 10%;

    background-image: url('assets/img/butterfly.pgn');
    background-repeat: no-repeat;
    
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /*
 * Modify and position the title.
 */
    .title {
        color: var(--dark-color);
        font-size: 90%;
        text-shadow: 2px 2px 2px rgb(159, 159, 159);
        position: relative;
        top: 2em;
        left: 25%;
    }

    h1 {
        font-size: 250%;
        padding-left: 1%;
        padding-top: 3%;
        margin-top: 0%;
        margin-bottom: 1%;
    }

    p {
        position: relative;
        margin-top: -3.5%;
        padding-left: 23%;

    }
    /*
 * Position and size the logo.
 */
    .logo {
        width: 90%;
        position: relative;
        top: 5px;
        left: 20px;
    }
}
