@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Vollkorn&display=swap');

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height;
    // background-color: $background-color;
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    // background-image: linear-gradient(60deg, #3e2723f0 0%, #3E2723 100%);
    // color: rgb(61, 48, 37)
    // rgb(74, 58, 45)
    // rgb(51, 40, 31)
    // rgb(138, 108, 84) 
    background: linear-gradient(217deg, rgba(74, 58, 45, 0.8), rgba(255, 0, 0, 0) 70.71%), 
    linear-gradient(127deg, rgba(138, 108, 84, 0.8), rgba(0, 255, 0, 0) 70.71%), 
    linear-gradient(336deg, rgba(61, 48, 37, 0.8), rgba(0, 0, 255, 0) 70.71%); 

}

a {
    text-decoration: none;
    color: $font-alternative-color;
}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number * 2;
    font-family: 'Comforter Brush', cursive;
    padding-left: 5%;
    color: rgb(51, 51, 51);


}


p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: 'Vollkorn', serif;
    color: rgb(51, 51, 51);
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    margin-bottom: 19rem;

    img {
        width: 70%;
    }
}

@media (min-width:64em) {
    html {
        font-size: 112.5%;
    }
}

img {
    width: 5%;
    height: auto;
    // padding: 1em;
    filter: brightness(70%);
}

// .title {
//     h1 {
//         margin-bottom: 0.5%;
//     }
//     p {
//         padding-left: 6em;
//     }
// }

.footer {
    p {
        padding-left: 2%;
    }

    .social {
        padding-left: 2%;
        color: rgb(51, 51, 51);
    }
}
