$font-color: rgb(138, 108, 84);
$font-alternative-color: rgb(51, 51, 51);
$accent-color: rgb(238, 108, 77);
$background-color: rgb(62, 39, 35);
$background-alternative-color: rgb(248, 219, 105);

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
